.titleBar{
	height: 40px;
	width: 100%;
	border-bottom: 2px solid #85ba4d;
}
.titleBar h2{
	font-size: 23px;
	line-height: 40px;
	font-weight: bold;
	color: #699f00;
}
.titleBar .more{
	font-size: 15px;
	color: #699f00;
	padding-top: 13px;
	padding-left: 7px;
}
.titleBar .nav{
	font-size: 13px;
	color: #333;
	padding-top: 13px;
	margin-left: 6px;
	margin-right: 8px;
}
.titleBar .line{
	padding-top: 15px;
}

.titleBar h2 img{
	padding-top: 8px;
	padding-right: 3px;
}