.vedioMsg li{
	margin-right: 20px;
	margin-top: 15px;
	position: relative;
}
.vedioMsg li p{
	background-color: #f2f2f2;
	padding-left: 5px;
}
.vedioMsg li p .title{
	display: inline-block;
	padding-top: 9px;
	padding-bottom: 9px;
	/*line-height: 35px;*/
	font-size: 13px;
	color: #333;
	background-color: #f2f2f2;
}
.vedioMsg li p span{
	display: block;
	color: #999;
	font-size: 11px;
	line-height: 22px;
	margin-top: -7px;
	position: relative;
}
.vedioMsg li a{
	position: relative;
}
.vedioMsg li a .rec{
	position: absolute;
	display: block;
	color: #fff;
	font-size: 8px;
	text-align: center;
	line-height: 16px;
	width: 54px;
	height: 16px;
	background: url(../imgs/rec.png) no-repeat;
}
.vedioMsg li a .rec1{
	left: 4px;
	bottom: 4px;
}
.vedioMsg li a .rec2{
	bottom: 4px;
	left: 68%;
}